/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require seiyria-bootstrap-slider
 *= require_tree .
 *= require_self
 */
// Color Scheme
// kuler.adobe.com/sywasd-color-theme-3991196
$color1: #E9BD79; // bg image color approx (drk brn)
$color2: #FFD99E; // light brown
$color3: #FFCF84; // med brown
$color4: #397CB2; // dark blue
$color5: #84C8FF; // light blue

// Bootstrap Overrides
$brand-primary: $color4; //#428bca;
$brand-success: #5cb85c;
$brand-info:    $color5;// #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
// Import Bootstrap
@import "bootstrap";

.heading-color {
  color: $color4;
}

body {
  background: #E9BD79 url(bg_patterns/purty_wood.png) repeat;
}
.container.main-container {
  background: white;
  border-radius: 12px;
}
.options-picker {
  border: 4px solid black;
  // border-radius: 12px;
  background: $color2;
}
.desk-display {
  border: 4px solid black;
  // border-radius: 12px;
  background: $color3;
}

#budget-slider {
  width: 100%;
}

.btn.active, .btn:active {
    background-color: $color5;
}
.main-product-image {
  width: 100%;
  margin-bottom: 15px;
}
/*
.thumbnail {
  margin-top: 10px;
  width: 100%;
}
*/
.price {
  color: green;
  font-size: 24px;
}
